.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.nav_tema1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.nav_index {
  max-width: 300px;
  margin: 30px;
  padding: 10px;
  list-style: none;
  position: absolute;
  z-index: 2;
}

img {
  max-width: 100%;
  max-height: auto;
}

h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p,
h3,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo img {
  max-width: 80px;
}
